
@using JersonDiaz.Clases
@model Cliente

@{
    ViewBag.Title = "Mantenimiento-Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <br />
    <div class="col-lg-10"><h3>Credito | <small>Nuevo-Cliente</small></h3></div>
     <div class="col-lg-2">Fecha del sistema: <label>@DateTime.Now.ToShortDateString()</label></div>
    <br />
    <div style="width:98%;margin-left:1%;">
        <div class="page-title">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  @Html.ActionLink("ir a la ventana", "Home", "Index")
                </li>
                <li class="active"> Inicio</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "UNI", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <input name="__RequestVerificationToken" type="hidden" value="4Rbzdk24McGjSsKnnTgtCWXUXfpQt5oDCujWAamlTiL8QuME-11yjYey5yHSASu87n7H3bKBcFmGAMHap7MItZXAht_FIZt_W1eYgtb23QM1">
        <fieldset>

     

            <div class="col-lg-12">
                <div class="portlet portlet-green">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4>Datos</h4>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div>
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                  <div class="form-row">

                                

                                      <div class="col-lg-3 no-show-ele2">
                                        <label>IdCliente:</label>
                                        @Html.TextBoxFor(model => model.IdCliente, new { @class = "input form-control text-box single-line", id = "IdCliente", @readonly = "readonly" })
                                    </div>

                                    <div class="col-lg-3 no-show-ele2">
                                        <label>Nombre:</label>
                                        @Html.TextBoxFor(model => model.Nombre, new { @class = "input form-control text-box single-line", id = "Nombre" })
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Apellido:</label>
                                        @Html.TextBoxFor(Model => Model.Apellido, new { @class = "input form-control text-box single-line ", id = "Apellido" })
                                    </div>

                                    <div class="col-lg-3">
                                        <label>Telefono:</label>
                                        @Html.TextBoxFor(m => m.Telefono, new { @class = "input text-box form-control single-line num-tel", id = "Telefono" })
                                    </div>

                                      <div class="col-lg-12">
                                        <label>&nbsp;</label>
                                    </div> 

                                    <div class="col-lg-3">
                                        <label>Cedula:</label>
                                        @Html.TextBoxFor(Model => Model.Cedula, new { @class = "input form-control text-box single-line num-cedula", name = "Cedula", id = "Cedula" })
                                    </div>

                                    <div class="col-lg-6">
                                        <label>Direccion:</label>
                                        @Html.TextAreaFor(Model => Model.Direccion, new { @class = "input form-control text-box single-line",id="Direccion" })
                                    </div>


                               

                                   @* <div class="col-lg-3">
                                        <label>Tipo-Identificacion:</label>

                                        <select name="COD_IDENTIFICA" class="form-control">

                                            @foreach (var xaeco in ViewBag.TipIdentifi)
                                            {
                                                if (xaeco.COD_IDE.ToString() == ViewBag.checkIdTipIden.ToString())
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.COD_IDE" selected>@xaeco.NOM_IDENTIFICACION</option>
                                                }
                                                else
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.COD_IDE">@xaeco.NOM_IDENTIFICACION</option>
                                                }
                                            }
                                        </select>*@

                                    @*</div>*@

                                  @*  <div class="col-lg-3">
                                        <label>Lista:</label>

                                        <select name="IdLista" class="form-control">

                                            @foreach (var xaeco in ViewBag.IdListas)
                                            {
                                                if (xaeco.IdLista.ToString() == ViewBag.checkListas.ToString())
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.IdLista" selected>@xaeco.Descripcion</option>
                                                }
                                                else
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.IdLista">@xaeco.Descripcion</option>
                                                }
                                            }
                                        </select>

                                    </div>*@

                                 @*   <div class="col-lg-3">
                                        <label>Fuente:</label>

                                        <select name="IdFuente" class="form-control">

                                            @foreach (var xaeco in ViewBag.IdFuente)
                                            {
                                                if (xaeco.IdFuente.ToString() == ViewBag.checkFuente.ToString())
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.IdFuente" selected>@xaeco.Descripcion</option>
                                                }
                                                else
                                                {
                                                    <option class="no-show-ele1" value="@xaeco.IdFuente">@xaeco.Descripcion</option>
                                                }
                                            }
                                        </select>

                                    </div>*@

                                    <div class="col-lg-12">
                                        <label>&nbsp;</label>
                                    </div>

                                    <div class="col-lg-5">
                                        <label>&nbsp;</label>
                                    </div>


                                    <div class="col-lg-4">
                                        <label>&nbsp;</label>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-2 text-center">
                            @*@using (Html.BeginForm("grabar", "CE_producto", FormMethod.Post))
                                {*@

                            <button type="submit" name="Grabar" value="1" class="btn btn-success">Grabar</button>

                            @* }*@

                        </div>
                        <div class="col-lg-5"></div>
                    </div>
                </div>
            </div>
            <!-- Fin de la colugna de 12 espacios col-lg-12 (Boton Guardar) -->
        </fieldset>


    }
</div>
    <div>
        @if (ViewBag.modal == "mostrar")
        {
            <div id="id01" class="w3-modal" style="display:block;">
                <div class="w3-modal-content" style="width:25%;">
                    <header class="w3-container w3-teal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <h3>@ViewBag.ModalTitulo</h3>
                    </header>
                    <div class="w3-container">
                        <p>@ViewBag.ModalMsj</p>
                    </div>
                    <footer class="w3-container w3-teal">
                        <p>@ViewBag.ModalPie</p>
                    </footer>
                </div>
            </div>
        }
    </div>
